In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("r.csv", delimiter=";")

In [3]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,"15332,56",15332.56,15332.56,10.131,1.639,optimal
1,20_USA-road-d.COL.gr,5357.0,6134.600000,"7076,52",7076.52,7076.52,12.541,0.577,optimal
2,20_USA-road-d.NY.gr,6848.0,8508.694444,"9454,47",9454.47,9454.47,0.252,0.484,optimal
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,"12664,33",12664.33,12664.33,0.711,10.812,optimal
4,40_USA-road-d.COL.gr,10084.0,12274.666667,"15058,97",14837.25,15058.97,3.644,121.633,optimal

In [4]:
df["bc_gap"]=(df.bc_v-df.relax_v)/df.bc_v *100

In [5]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,"15332,56",15332.56,15332.56,10.131,1.639,optimal,25.098396
1,20_USA-road-d.COL.gr,5357.0,6134.600000,"7076,52",7076.52,7076.52,12.541,0.577,optimal,13.310497
2,20_USA-road-d.NY.gr,6848.0,8508.694444,"9454,47",9454.47,9454.47,0.252,0.484,optimal,10.003475
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,"12664,33",12664.33,12664.33,0.711,10.812,optimal,25.817472
4,40_USA-road-d.COL.gr,10084.0,12274.666667,"15058,97",14837.25,15058.97,3.644,121.633,optimal,18.489334

In [6]:
# Filtrer les lignes o√π les valeurs dans la colonne 'colonne_str' sont de type str
valeurs_str = df.loc[df.dual_v.apply(lambda x: isinstance(x, str))]

In [7]:
df["PR_g"]=round((df.bc_v-df.stat_v)/df.bc_v*100)
#,round((df.dual_v-df.stat_v)*100/df.dual_v),round((df.pc_v-df.stat_v)*100/df.pc_v))

In [8]:
df["PR_pc"]=round((df.pc_v-df.stat_v)*100/df.pc_v)

In [9]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,"15332,56",15332.56,15332.56,10.131,1.639,optimal,25.098396,39.0,39.0
1,20_USA-road-d.COL.gr,5357.0,6134.600000,"7076,52",7076.52,7076.52,12.541,0.577,optimal,13.310497,24.0,24.0
2,20_USA-road-d.NY.gr,6848.0,8508.694444,"9454,47",9454.47,9454.47,0.252,0.484,optimal,10.003475,28.0,28.0
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,"12664,33",12664.33,12664.33,0.711,10.812,optimal,25.817472,38.0,38.0
4,40_USA-road-d.COL.gr,10084.0,12274.666667,"15058,97",14837.25,15058.97,3.644,121.633,optimal,18.489334,33.0,32.0

In [10]:
nan_values = df[df.dual_v.isna()]

In [11]:
nan_values

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc
88,1400_USA-road-d.COL.gr,32664.0,33798.725428,NaN,32664.00,42092.17,109.392,192.206,feasible,1.970306e+01,22.0,0.0
91,1500_USA-road-d.COL.gr,32664.0,33996.340305,NaN,32664.00,42092.17,111.577,219.617,feasible,1.923358e+01,22.0,0.0
94,1600_USA-road-d.COL.gr,34075.0,34318.421487,NaN,32664.00,42092.17,113.884,217.496,feasible,1.846840e+01,19.0,-4.0
97,1700_USA-road-d.COL.gr,32664.0,33457.801150,NaN,32664.00,42092.17,145.507,226.197,feasible,2.051300e+01,22.0,0.0
100,1800_USA-road-d.COL.gr,34075.0,34142.434667,NaN,32664.00,-1.00,117.917,359.604,not find,3.414343e+06,3407600.0,-4.0
103,1900_USA-road-d.COL.gr,34075.0,34277.723478,NaN,42506.00,-1.00,126.280,305.343,not find,3.427872e+06,3407600.0,20.0
106,2000_USA-road-d.COL.gr,39443.0,40850.414425,NaN,40803.00,48598.55,131.062,258.560,feasible,1.594314e+01,19.0,3.0
109,2100_USA-road-d.COL.gr,35568.0,35485.303876,NaN,34157.00,-1.00,125.804,339.919,not find,3.548630e+06,3556900.0,-4.0
110,2100_USA-road-d.NY.gr,62119.0,83985.584098,NaN,63606.97,-1.00,155.160,305.170,not find,8.398658e+06,6212000.0,2.0
112,2200_USA-road-d.COL.gr,39310.0,41215.725639,NaN,39310.00,48962.93,134.228,184.412,feasible,1.582259e+01,20.0,0.0
113,2200_USA-road-d.NY.gr,53650.0,55288.254517,NaN,53650.00,-1.00,126.404,330.749,not find,5.528925e+06,5365100.0,0.0
114,2300_USA-road-d.BAY.gr,65829.0,69140.728341,NaN,66823.84,-1.00,146.385,310.208,not find,6.914173e+06,6583000.0,1.0
115,2300_USA-road-d.COL.gr,40803.0,41116.614443,NaN,40803.00,48598.55,182.473,731.463,feasible,1.539539e+01,16.0,0.0
116,2300_USA-road-d.NY.gr,53650.0,59816.632969,NaN,57465.00,-1.00,145.354,307.845,not find,5.981763e+06,5365100.0,7.0
117,2400_USA-road-d.BAY.gr,65317.0,68285.648522,NaN,66311.84,-1.00,170.589,335.691,not find,6.828665e+06,6531800.0,2.0
118,2400_USA-road-d.COL.gr,39443.0,40907.253042,NaN,40803.00,-1.00,194.835,697.961,not find,4.090825e+06,3944400.0,3.0
119,2400_USA-road-d.NY.gr,60819.0,65399.720528,NaN,67217.32,-1.00,155.255,309.958,not find,6.540072e+06,6082000.0,10.0
120,2500_USA-road-d.BAY.gr,62022.0,64707.739089,NaN,73166.79,-1.00,154.787,318.438,not find,6.470874e+06,6202300.0,15.0
121,2500_USA-road-d.COL.gr,39696.0,41050.967254,NaN,-1.00,47977.90,197.900,-1.000,feasible,1.443776e+01,17.0,3969700.0
122,2500_USA-road-d.NY.gr,60819.0,63643.767483,NaN,72794.16,-1.00,157.276,333.002,not find,6.364477e+06,6082000.0,16.0

In [41]:
df.dual_v = df.dual_v.fillna(0)

In [12]:
import numpy as np
df.loc[df.bc_v==-1,"PR_g"]=np.nan

In [13]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,"15332,56",15332.56,15332.56,10.131,1.639,optimal,25.098396,39.0,39.0
1,20_USA-road-d.COL.gr,5357.0,6134.600000,"7076,52",7076.52,7076.52,12.541,0.577,optimal,13.310497,24.0,24.0
2,20_USA-road-d.NY.gr,6848.0,8508.694444,"9454,47",9454.47,9454.47,0.252,0.484,optimal,10.003475,28.0,28.0
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,"12664,33",12664.33,12664.33,0.711,10.812,optimal,25.817472,38.0,38.0
4,40_USA-road-d.COL.gr,10084.0,12274.666667,"15058,97",14837.25,15058.97,3.644,121.633,optimal,18.489334,33.0,32.0

In [15]:
df.bc_gap=round(df.bc_gap,2)

In [16]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,"15332,56",15332.56,15332.56,10.131,1.639,optimal,25.0,39.0,39.0
1,20_USA-road-d.COL.gr,5357.0,6134.600000,"7076,52",7076.52,7076.52,12.541,0.577,optimal,13.0,24.0,24.0
2,20_USA-road-d.NY.gr,6848.0,8508.694444,"9454,47",9454.47,9454.47,0.252,0.484,optimal,10.0,28.0,28.0
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,"12664,33",12664.33,12664.33,0.711,10.812,optimal,26.0,38.0,38.0
4,40_USA-road-d.COL.gr,10084.0,12274.666667,"15058,97",14837.25,15058.97,3.644,121.633,optimal,18.0,33.0,32.0

In [17]:
df["pc_gap"]=round((df.pc_v-df.relax_v)/df.pc_v*100)

In [18]:
df['dual_v'] = df['dual_v'].str.replace(',', '.').astype(float)

In [20]:
df["dual_gap"]=round((df.dual_v-df.relax_v)/df.dual_v*100,2)

In [21]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc,pc_gap,dual_gap
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,15332.56,15332.56,15332.56,10.131,1.639,optimal,25.0,39.0,39.0,25.0,25.10
1,20_USA-road-d.COL.gr,5357.0,6134.600000,7076.52,7076.52,7076.52,12.541,0.577,optimal,13.0,24.0,24.0,13.0,13.31
2,20_USA-road-d.NY.gr,6848.0,8508.694444,9454.47,9454.47,9454.47,0.252,0.484,optimal,10.0,28.0,28.0,10.0,10.00
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,12664.33,12664.33,12664.33,0.711,10.812,optimal,26.0,38.0,38.0,26.0,25.82
4,40_USA-road-d.COL.gr,10084.0,12274.666667,15058.97,14837.25,15058.97,3.644,121.633,optimal,18.0,33.0,32.0,17.0,18.49

In [23]:
df["PR_dual"]=round((df.dual_v-df.stat_v)/df.dual_v*100,2)

In [24]:
df["PR"] = df[["PR_dual", "PR_g", "PR_pc"]].min(axis=1)

In [68]:
df=df.drop(columns=["PR_g","PR_pc","PR_dual"],axis=1)

In [25]:
df.head()

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc,pc_gap,dual_gap,PR_dual,PR
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,15332.56,15332.56,15332.56,10.131,1.639,optimal,25.0,39.0,39.0,25.0,25.10,38.92,38.92
1,20_USA-road-d.COL.gr,5357.0,6134.600000,7076.52,7076.52,7076.52,12.541,0.577,optimal,13.0,24.0,24.0,13.0,13.31,24.30,24.00
2,20_USA-road-d.NY.gr,6848.0,8508.694444,9454.47,9454.47,9454.47,0.252,0.484,optimal,10.0,28.0,28.0,10.0,10.00,27.57,27.57
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,12664.33,12664.33,12664.33,0.711,10.812,optimal,26.0,38.0,38.0,26.0,25.82,37.97,37.97
4,40_USA-road-d.COL.gr,10084.0,12274.666667,15058.97,14837.25,15058.97,3.644,121.633,optimal,18.0,33.0,32.0,17.0,18.49,33.04,32.00

In [26]:
df_1=df[["Name","stat_v","relax_v","dual_v","dual_gap","pc_v","pc_gap","pc_time","bc_v","bc_gap","bc_time","PR"]]

In [27]:
df_1.head()

,Name,stat_v,relax_v,dual_v,dual_gap,pc_v,pc_gap,pc_time,bc_v,bc_gap,bc_time,PR
0,20_USA-road-d.BAY.gr,9365.0,11484.333333,15332.56,25.10,15332.56,25.0,1.639,15332.56,25.0,10.131,38.92
1,20_USA-road-d.COL.gr,5357.0,6134.600000,7076.52,13.31,7076.52,13.0,0.577,7076.52,13.0,12.541,24.00
2,20_USA-road-d.NY.gr,6848.0,8508.694444,9454.47,10.00,9454.47,10.0,0.484,9454.47,10.0,0.252,27.57
3,40_USA-road-d.BAY.gr,7856.0,9394.720125,12664.33,25.82,12664.33,26.0,10.812,12664.33,26.0,0.711,37.97
4,40_USA-road-d.COL.gr,10084.0,12274.666667,15058.97,18.49,14837.25,17.0,121.633,15058.97,18.0,3.644,32.00

In [28]:
test_=df[df.PR==0]

In [98]:
test_.loc[:,"PR_bc"]=round((test_["bc_v"]-test_["stat_v"])/test_["bc_v"]*100,2)
test_.loc[:,"PR_dual"]=round((test_["dual_v"]-test_["stat_v"])/test_["dual_v"]*100,2)
test_.loc[:,"PR_pc"]=round((test_["pc_v"]-test_["stat_v"])/test_["pc_v"]*100,2)

In [32]:
test_

,Name,stat_v,relax_v,dual_v,pc_v,bc_v,bc_time,pc_time,bc_status,bc_gap,PR_g,PR_pc,pc_gap,dual_gap,PR_dual,PR,PR_bc
67,850_USA-road-d.COL.gr,24068.0,24625.220000,2.967276e+04,24119.24,29904.82,94.932,303.940,feasible,18.0,20.0,0.0,-2.0,17.01,18.89,0.0,20.0
70,900_USA-road-d.COL.gr,24068.0,24625.220000,2.967276e+04,24119.24,29904.82,92.385,313.288,feasible,18.0,20.0,0.0,-2.0,17.01,18.89,0.0,20.0
73,950_USA-road-d.COL.gr,24068.0,24625.220000,2.967276e+04,24119.24,29904.82,91.287,312.428,feasible,18.0,20.0,0.0,-2.0,17.01,18.89,0.0,20.0
76,1000_USA-road-d.COL.gr,24068.0,24625.220000,2.967276e+04,24119.24,24068.00,17.625,192.392,optimal,-2.0,0.0,0.0,-2.0,17.01,18.89,0.0,0.0
77,1000_USA-road-d.NY.gr,36248.0,37925.553073,4.332905e+04,37840.66,36248.00,16.181,189.916,optimal,-5.0,0.0,4.0,-0.0,12.47,16.34,0.0,0.0
82,1200_USA-road-d.COL.gr,34075.0,34933.681830,4.276650e+04,34075.00,42766.50,116.225,200.321,feasible,18.0,20.0,0.0,-3.0,18.32,20.32,0.0,20.0
85,1300_USA-road-d.COL.gr,32664.0,33738.713915,1.058579e+08,32664.00,NaN,105.200,300.363,not find,NaN,NaN,0.0,-3.0,99.97,99.97,0.0,NaN
88,1400_USA-road-d.COL.gr,32664.0,33798.725428,NaN,32664.00,42092.17,109.392,192.206,feasible,20.0,22.0,0.0,-3.0,NaN,NaN,0.0,22.0
90,1500_USA-road-d.BAY.gr,67185.0,68233.449037,7.898515e+07,67179.00,79379.73,511.490,317.146,feasible,14.0,15.0,-0.0,-2.0,99.91,99.91,-0.0,15.0
91,1500_USA-road-d.COL.gr,32664.0,33996.340305,NaN,32664.00,42092.17,111.577,219.617,feasible,19.0,22.0,0.0,-4.0,NaN,NaN,0.0,22.0
93,1600_USA-road-d.BAY.gr,69791.0,70877.106369,8.609971e+07,69794.00,NaN,116.675,306.402,not find,NaN,NaN,0.0,-2.0,99.92,99.92,0.0,NaN
97,1700_USA-road-d.COL.gr,32664.0,33457.801150,NaN,32664.00,42092.17,145.507,226.197,feasible,21.0,22.0,0.0,-2.0,NaN,NaN,0.0,22.0
111,2200_USA-road-d.BAY.gr,68443.0,71464.843613,1.399437e+08,68443.00,NaN,138.940,341.620,not find,NaN,NaN,0.0,-4.0,99.95,99.95,0.0,NaN
112,2200_USA-road-d.COL.gr,39310.0,41215.725639,NaN,39310.00,48962.93,134.228,184.412,feasible,16.0,20.0,0.0,-5.0,NaN,NaN,0.0,20.0
113,2200_USA-road-d.NY.gr,53650.0,55288.254517,NaN,53650.00,NaN,126.404,330.749,not find,NaN,NaN,0.0,-3.0,NaN,NaN,0.0,NaN
115,2300_USA-road-d.COL.gr,40803.0,41116.614443,NaN,40803.00,48598.55,182.473,731.463,feasible,15.0,16.0,0.0,-1.0,NaN,NaN,0.0,16.0

In [30]:
test_["bc_v"].mask(test_["bc_v"] == -1, np.nan, inplace=True)

# –í—ã—á–∏—Å–ª—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ "PR_bc" –ø–æ—Å–ª–µ –∑–∞–º–µ–Ω—ã
test_["PR_bc"] = round((test_["bc_v"] - test_["stat_v"]) / test_["bc_v"] * 100, 0)

c:\Users\Boss\anaconda3\lib\site-packages\pandas\core\generic.py:9286: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._where(
<ipython-input-30-906b13f2893b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_["PR_bc"] = round((test_["bc_v"] - test_["stat_v"]) / test_["bc_v"] * 100, 0)

In [31]:
test_.loc[:,"bc_gap"] = round((test_["bc_v"] - test_["relax_v"]) / test_["bc_v"] * 100, 0)

c:\Users\Boss\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
D=[0, , ,96,98]
PC=[0,]
BC=[0, , ,96,98]
H=[]
temps=[10,50,100,300,500,1000,1100,1300,1500,2000]